:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

.cabecera__presenacion h1{
    font-size: 1.2rem;
}

.cabecera__presenacion img{
    height: 1.5rem;
}

.navegacion__elemento a{
    font-size: 1.2rem;
    color: #000000;
}

/*SECCION PRESENTACION*/
.presentacion__foto{
    width: 6rem;
}

.presentacion__titulo{
    font-weight: bold;
    font-size: 1.1rem;
}



@media (min-width: 767px) {
    .presentacion__foto{
        width: 10rem;
    }
}


@media (min-width: 1023px) {
    /*CABECERA*/
    .presentacion__foto{
        width: 20rem;
    }

    /*SECCION PRESENTACION*/
    .presentacion__contenedor h2{
        font-size: 3rem;
    }
    
}


    
