:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

.presentacion__foto{
    border-radius: 30rem;
}
.cabecera__presenacion h1{
    font-size: 1.2rem;
}

.cabecera__presenacion img{
    height: 1.5rem;
}

.navegacion__elemento a{
    font-size: 1.2rem;
    color: #000000;
}

/*SECCION PRESENTACION*/
.presentacion__foto{
    width: 6rem;
}

.presentacion__titulo{
    font-weight: bold;
    font-size: 1.1rem;
}

.redes a{
    color: #000000;
}


/*SOBRE MI*/
.sobre-mi{
    background-color: #EAF2FD;
}

.sobre-mi__titulo{
    font-size: 2rem;
    font-weight: bold;
}

/*SECCION HABILIDADES*/

.habilidades__elemento{
    display: flex;
    height: 7.3rem;
    width: 9.7rem;
    background-color: #ffffff;
}




/*HOBBIES*/

.aficiones__elemento{
    display: flex;
    height: 7.3rem;
    width: 9.7rem;
    background-color: #ffffff;
}

.habilidades__elemento img{
    width: 1.5rem;
    height: 2rem;
}


/*FORMACION ACADEMICA*/

.rectangle{
    background-color: #EAF2FD;
}

.formacion__titulo{
    font-size: 2rem;
}

.formacion__lista img{
    height: 100px;
    width: 250px;
    padding: 0px;
    margin: 0px;
}

/*PROYECTOS*/

.proyecto__imagen{
    width: 100%;
}

.proyectos__titulo{
    font-size: 2rem;
}

.proyectos__nombre{
    font-size: 1.5rem;
    font-weight: bold;
}

.proyectos__descripcion{
    text-align: center;
}

.proyecto__boton--repo{
    background-color: #3585f5;
    color: #000000;
    font-weight: bold;
    padding: 20px;
    border-radius: 100px;
}



@media (min-width: 767px) {
    .presentacion__foto{
        width: 10rem;
    }
    .presentacion__subtitulo{
        font-size: 1.1rem;
    }

    .presentacion__titulo{
        font-size: 1.5rem;
    }

    .habilidades__elemento{
        display: flex;
        height: 7.3rem;
        width: 14rem;
        background-color: #ffffff;
    }

    .aficiones__elemento{
        display: flex;
        height: 7.3rem;
        width: 14rem;
        background-color: #ffffff;
    }

    .redes a{
        
        font-size: 1.5rem;
    }

    /*FORMACION ACADEMICA*/
    


}


@media (min-width: 1023px) {
    /*CABECERA*/
    .presentacion__foto{
        width: 20rem;
    }

    /*SECCION PRESENTACION*/
    .presentacion__contenedor h2{
        font-size: 3rem;
    }

    .presentacion__subtitulo{
        font-size: 1.5rem;
    }

    .habilidades__elemento{
        display: flex;
        height: 9rem;
        width: 9rem;
        background-color: #ffffff;
    }

    .aficiones__elemento{
        display: flex;
        height: 9rem;
        width: 9rem;
        background-color: #ffffff;
    }


    

    
}


    
